/*Color palette

1- CBD5BD - pastel green
2- 3C2E2D - dark brown
3 - FF849E - pink, accent

*/



body {
	background: url("../img/bg.png");
	font-family: 'Allerta', sans-serif;
}

h1, h3{
	color: #CBD5BD;
	text-transforms: uppercase;
	border-bottom: 5px solid black;
}

h3 {
	padding 0 0 10px 0;	
}

.container_12 {
	background: rgba(255,255,255,.5)
}

img {
	box-shadow: 0px 0px 20px #666;	
}

.dropcap {
	font-size: 74px;
	color: #FF849E;	
	float: left;
	margin: 10px;
}





/* Helper Classes */
.showgrid {
	background: url("../img/12_col.gif") !important;
}