/*Color palette

1- CBD5BD - pastel green
2- 3C2E2D - dark brown
3 - FF849E - pink, accent

*/



body {
	background: url("../img/bg.png");
	font-family: 'Allerta', sans-serif;
}

h1{
	color: #CBD5BD;
	
}




/* Helper Classes */
.showgrid {
	background: url("../img/12_col.gif") !important;
}